.cn-list{
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    overflow: hidden;
    min-height: 150px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #414141;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      border:none;
      color: #f7c200;
      border-bottom: 5px solid #f7c200;
      background-color:transparent;
 }
 .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    background: white;
}
.cn-button{
    margin-bottom: 30px !important;
}
.cn-categories-item__inner{
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-color: #f7f9fb;
    border-radius: 100%;
    border: none;
}
.cn-categories-item__text {
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #414141;
}
.cn-det{
    margin-top: 5px;
    padding: 15px;
    min-height: 100%;
}
.cn-btn-sel{
    margin-top: -28px;
}

.cn-card-popup>a {
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    width: 16px;
    min-width: 16px;
    max-width: 16px;
    line-height: 16px;
    display: block;
    position: relative;
    margin-top: 5px;
    border: none;
    border-radius: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f7c200;
    color: white;
    font-size: 8px;
}
.cn-card-popup__body {
    display: none;
    position: absolute;
    right: 0;
    top: 69%;
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    width: calc(100% - 30px);
    border: solid 1px #f7c200;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.16);
}
.cn-par{
    margin-top: 0;
    margin-bottom: auto;
}