html, body
{
    @include fontExo(300);
    background-color: white; //$color_grey_50;
    color: $color_text_primary; //$color_grey_900;

    position: relative;

    min-height: 150vh;
}

@media (max-width: 991px)
{
    body
    {
        padding-top: 90px;
    }
}