.btn-cn-primary
{
    @include transition(ease, 0.3s);
    text-transform: uppercase;
    border-radius: 25px;

    min-width: 200px;

    background-image: linear-gradient(to right, #e1ea35, $color_primary);
    border: none;
    color: $color_text_primary;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);

    &:hover
    {
        background-image: linear-gradient(to right, darken(#e1ea35, 5%), darken($color_primary, 5%));
    }
}

.btn-cn--bold
{
    font-weight: 600;
}

.btn-cn--radius-8
{
    border-radius: 8px;
}

.btn-cn--radius-10
{
    border-radius: 10px;
}