.cn-pagination
{
    border: none; //solid 1px red;
    border-radius: 0;

    .page-link
    {
        @include transition(ease, 0.3s);
        @include fixedSize(44px);
        border: none;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        padding: 0;
        margin: 0 8px;
        color: $color_text_primary;
        text-decoration: none;

        &:hover
        {
            background-color: rgba(255, 255, 255, 0);
            color: $color_primary;
        }
    }

    .page-item
    {
        &.active
        {
            .page-link
            {
                background-color: $color_primary;
                border-color: rgba(255, 255, 255, 0);
                color: $color_text_primary;
            }
        }

        &:first-child,
        &:last-child
        {
            &.disabled
            {
                color: #ececed;

                .page-link
                {
                    color: inherit;
                }

                &:hover
                {
                    color: #ececed;
                }
            }

            .page-link
            {
                border-radius: 100%;

                color: #414141;

                &:hover
                {
                    border-color: rgba(255, 255, 255, 0); //$color_primary;
                    background-color: rgba(255, 255, 255, 0); //$color_primary;
                    color: $color_primary; //$color_text_primary;
                }
            }
        }

        /*
        &:first-child
        {
            .page-link
            {
                color: #ececed;

                &:hover
                {
                    color: $color_primary;
                }
            }
        }

        &:last-child
        {
            .page-link
            {
                color: $color_primary;
            }
        }
        */
    }

}