.cn-footer
{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;

    border: none; //solid 1px red;
    background-image: url('../images/footer-ornament.svg');
    background-position: bottom right;
    background-repeat: no-repeat;

    color: $color_text_primary;

    min-height:140px;

    a
    {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus
        {
            color: inherit;
            text-decoration: none;
        }
    }

    p
    {
        font-size: 20px;
        line-height: 1.35;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
    }

}

@media (max-width: 767px)
{
    .cn-footer
    {
        
    }
}